---
import type { CollectionEntry } from 'astro:content';
import { getCollection } from 'astro:content';
import BlogPost from '../layouts/BlogPost.astro';

export async function getStaticPaths() {
	const blogEntries = await getCollection('posts');
	return blogEntries.map(entry => ({
		params: { slug: entry.slug },
		props: { entry },
	}));
}

const { entry } = Astro.props;
const { Content } = await entry.render();
---

<BlogPost {...entry.data}>
	<div class="post-content">
		<Content />
	</div>
</BlogPost>

<style>
	.post-content {
		margin-top: 160px;
		padding: 0 2rem;
		max-width: 800px;
		margin-inline: auto;
	}
</style> 