---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header title={SITE_TITLE} />
		<main>
			<h1>Hello, I'm Heeyun Ko (Helena)</h1>
			<p>
				I'm a medical student with a deep interest in development and technology.
				Exploring new possibilities at the intersection of healthcare and technology.
			</p>
		</main>
		<Footer />
	</body>
</html>

<style>
	main {
		width: 100%;
		max-width: 960px;
		margin: 0 auto;
		padding: 3rem 1rem;
	}
	h1 {
		font-size: 3rem;
		font-weight: 700;
		line-height: 1;
		text-align: center;
		margin-bottom: 1em;
	}
	p {
		text-align: center;
		line-height: 1.6;
	}
</style>
